<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria | Hong Kong</title>
    <link rel="stylesheet" href="../../public/destinos.css">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d182710ea.js" crossorigin="anonymous"></script>
</head>
<body>
     <!--El header posee un icono de una flecha para volver atras y la palabra galeria para indicar donde estamos-->
    <header>    
        <a href="../../view/galeria.html"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        <p id="volver">GALERIA</p>
        <p></p>
    </header>
    <main>
        <h1>Hong Kong</h1>
        <div id="temperatura">
        </div>
        <section>
            <h2>Cumbre Victoria</h2>
            <img src="../../public/img/Hong Kong/Cumbre Victoria.jpg" alt="Cumbre Victoria">
            <div class="texto">
                <p>La Cumbre Victoria, también conocida como Monte Victoria, es el pico más alto de Hong Kong, con una altura de 552 metros sobre el nivel del mar. Situada en la isla de Hong Kong, ofrece impresionantes vistas panorámicas de la ciudad, el puerto de Victoria y los alrededores.</p>

                <p>La Cumbre es un lugar popular entre los turistas y los lugareños, y se puede acceder a ella a través de un funicular que ofrece un emocionante recorrido por la ladera de la montaña. En la cima, los visitantes pueden disfrutar de diversas atracciones, como el Sky Terrace 428, una plataforma de observación que ofrece vistas espectaculares de la ciudad, así como restaurantes y tiendas.</p>

                <p>La Cumbre Victoria es un lugar popular para ver el espectacular espectáculo de luces nocturno de Hong Kong, que ilumina el puerto de Victoria y los edificios cercanos con miles de luces. Visitar la Cumbre Victoria es una experiencia impresionante y memorable que ofrece vistas panorámicas de una de las ciudades más vibrantes del mundo.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14768.22248110452!2d114.13523226320653!3d22.275882825264055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3403ff89dfbeddb1%3A0x2e318b3c62d99338!2sCumbre%20Victoria!5e0!3m2!1ses-419!2sar!4v1683497052960!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Avenida de las Estrellas</h2>
            <img src="../../public/img/Hong Kong/Estellas.jpg" alt="Paseo de las Estrellas">
            <div class="texto">
                <p>La Avenida de las Estrellas es un paseo marítimo ubicado en la península de Kowloon en Hong Kong, que ofrece impresionantes vistas del horizonte de la ciudad y el puerto de Victoria. La avenida es un lugar popular para turistas y lugareños, que disfrutan de caminar por el paseo marítimo, tomar fotografías y disfrutar de la brisa marina.</p>

                <p>La Avenida de las Estrellas cuenta con una serie de esculturas y monumentos en homenaje a los famosos actores y actrices de Hong Kong, como Bruce Lee y Anita Mui. Además, el paseo marítimo ofrece vistas impresionantes del espectáculo de luces nocturno de Hong Kong, que ilumina el puerto de Victoria con miles de luces brillantes.</p>

                <p>Visitar la Avenida de las Estrellas es una experiencia única y emocionante que ofrece vistas impresionantes de una de las ciudades más vibrantes y emocionantes del mundo.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14766.414003035448!2d114.1741517!3d22.2930046!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340400f19c2b22b3%3A0x9a1056b5955a35ce!2sAvenida%20de%20las%20estrellas%20de%20Hong%20Kong!5e0!3m2!1ses-419!2sar!4v1683496733536!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Buda Tian Tan</h2>
            <img src="../../public/img/Hong Kong/Buda.jpg" alt="Gran Buda">
            <div class="texto">
                <p>El Buda Tian Tan es una enorme estatua de bronce de Buda situada en la isla de Lantau, en Hong Kong. Con una altura de 34 metros y un peso de 250 toneladas, es una de las estatuas más grandes de Buda en todo el mundo.</p>

                <p>El Buda Tian Tan es un lugar sagrado para los budistas, y se ha convertido en una importante atracción turística en Hong Kong. Los visitantes pueden subir a la estatua y disfrutar de impresionantes vistas panorámicas del paisaje circundante. En el interior de la estatua hay un museo que exhibe artefactos budistas y una serie de monjes que llevan a cabo ceremonias y rituales religiosos.</p>

                <p>Además del Buda Tian Tan, la isla de Lantau es un lugar popular para disfrutar de hermosas playas, cascadas y paisajes naturales. Visitar el Buda Tian Tan es una experiencia espiritual y culturalmente enriquecedora que ofrece una vista única de una de las estatuas más impresionantes del mundo.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14770.533536589957!2d113.904984!3d22.2539847!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340158f66af64e31%3A0x4d0fe4264be5f070!2sBuda%20Tian%20Tan!5e0!3m2!1ses-419!2sar!4v1683496861375!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Templo Wong Tai Sin</h2>
            <img src="../../public/img/Hong Kong/Wong Tai Sin.jpg" alt="Templo Wong Tai Sin">
            <div class="texto">
                <p>El Templo Wong Tai Sin es un famoso templo taoísta en Hong Kong, dedicado al dios Wong Tai Sin, conocido por su capacidad para curar enfermedades y conceder deseos. El templo es uno de los lugares de culto más populares de Hong Kong, y atrae a una gran cantidad de visitantes y devotos todos los días.</p>

                <p>El Templo Wong Tai Sin es conocido por su hermosa arquitectura y sus colores vibrantes, que se mezclan para crear una atmósfera de tranquilidad y paz. Los visitantes pueden pasear por los jardines del templo, visitar los salones de oración y pedir deseos a Wong Tai Sin.</p>

                <p>Además del templo en sí, la zona que rodea el Templo Wong Tai Sin es conocida por sus numerosos restaurantes y tiendas de souvenirs, que venden una variedad de productos de la cultura china. Visitar el Templo Wong Tai Sin es una experiencia única que ofrece una vista fascinante de la cultura y la espiritualidad de Hong Kong.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14761.154764958244!2d114.1932582!3d22.3427257!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x340406d8c6482c3f%3A0x35915618b3fff9ce!2sTemplo%20Wong%20Tai%20Sin!5e0!3m2!1ses-419!2sar!4v1683496962969!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!--El footer sera iguale en toda las paginas-->
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Oasis Travel <span>& Event</span></h3>
    
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="#">Pricing</a>
            
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Oasis Travel & Event © 2023</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Medrano 3201</span> Almagro, CABA</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+5491120202020</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@oasistravel.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>
    <script src="../../destinos.js"></script>
</body>
</html>