<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria | Londres</title>
    <link rel="icon" href="../../public/img/panda.png">
    <link rel="stylesheet" href="../../public/css/destinos.css">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d182710ea.js" crossorigin="anonymous"></script>
</head>
<body>
     <!--El header posee un icono de una flecha para volver atras y la palabra galeria para indicar donde estamos-->
    <header>    
        <a href="../../view/galeria.html"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        <p id="volver">GALERIA</p>
        <p></p>
    </header>
    <main>
        <h1>Londres</h1>
        <div id="temperatura">
        </div>
        <section>
            <h2>Palacio de Buckingham</h2>
            <img src="../../public/img/Londres/Buckingham.jpg" alt="Palacio de Buckingham">
            <div class="texto">
                <p>El Castillo de Buckingham es una de las residencias oficiales de la monarquía británica, ubicada en el centro de Londres. Originalmente construido en el siglo XVIII como una casa privada para la familia del duque de Buckingham, el castillo fue adquirido por el rey Jorge III en 1761 y ha sido la residencia oficial de la monarquía británica desde entonces.</p>

                <p>El Castillo es famoso por su arquitectura neoclásica, sus hermosos jardines y su impresionante colección de obras de arte. También es famoso por sus ceremonias oficiales, como el Cambio de Guardia y la Salida de los Corceles Reales, que atraen a multitudes de turistas de todo el mundo.</p>

                <p>Visitar el Castillo de Buckingham es una experiencia inolvidable para aquellos que desean conocer más sobre la monarquía británica y su rica historia.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9934.583867758007!2d-0.14189!3d51.501364!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760520cd5b5eb5%3A0xa26abf514d902a7!2sPalacio%20de%20Buckingham!5e0!3m2!1ses-419!2sar!4v1683494255770!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Big Ben</h2>
            <img src="../../public/img/Londres/Big Ben.jpg" alt="El Roloj Big Ben">
            <div class="texto">
                <p>Big Ben es el apodo de la Gran Campana de la Torre del Reloj del Palacio de Westminster, ubicado en el centro de Londres. Aunque muchas personas se refieren a la torre en sí como "Big Ben", el apodo se refiere específicamente a la campana de 13,7 toneladas.</p>

                <p>La Torre del Reloj de Westminster es una estructura icónica que forma parte del patrimonio cultural de Londres. Fue construida en 1859 y es un ejemplo impresionante de la arquitectura victoriana. El reloj de la torre es famoso por su precisión y por sus cuatro caras iluminadas, que se pueden ver desde varios puntos de la ciudad.</p>

                <p>Visitar Big Ben es una experiencia única para los turistas que visitan Londres, y es una de las principales atracciones turísticas de la ciudad.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9934.722249271881!2d-0.1246254!3d51.5007292!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c38c8cd1d9%3A0xb78f2474b9a45aa9!2sBig%20Ben!5e0!3m2!1ses-419!2sar!4v1683495255332!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Ojo de Londres</h2>
            <img src="../../public/img/Londres/London Eye.jpg" alt="Rueda del Milenio">
            <div class="texto">
                <p>El Ojo de Londres, también conocido como la Rueda del Milenio, es una enorme noria ubicada en el South Bank del río Támesis en Londres, Inglaterra. Con una altura de 135 metros, es una de las norias más grandes del mundo y ofrece vistas panorámicas impresionantes de la ciudad.</p>

                <p>El Ojo de Londres fue inaugurado en el año 2000 y desde entonces ha sido una atracción turística popular. Cada cápsula de la noria tiene capacidad para 25 personas y un recorrido completo tarda aproximadamente 30 minutos. Durante el recorrido, los visitantes pueden disfrutar de vistas panorámicas del río Támesis, el Puente de la Torre, el Big Ben, el Palacio de Westminster y otros lugares emblemáticos de Londres.</p>

                <p>Visitar el Ojo de Londres es una experiencia única y emocionante para aquellos que desean ver la ciudad desde una perspectiva diferente y disfrutar de vistas espectaculares.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9934.162415726383!2d-0.1195537!3d51.5032973!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604b900d26973%3A0x4291f3172409ea92!2sOjo%20de%20Londres!5e0!3m2!1ses-419!2sar!4v1683495021087!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Abadía de Westminster</h2>
            <img src="../../public/img/Londres/Westminster.jpg" alt="Abadía de Westminster">
            <div class="texto">
                <p>La Abadía de Westminster, ubicada en el centro de Londres, es una iglesia anglicana famosa por ser el lugar donde se han coronado a los monarcas británicos desde Guillermo el Conquistador en 1066. También es el lugar de sepultura de muchos monarcas y figuras históricas, como la reina Isabel I y Sir Isaac Newton.</p>

                <p>La abadía es un ejemplo impresionante de la arquitectura gótica inglesa y cuenta con numerosas capillas y monumentos dentro de sus paredes. Su construcción comenzó en el siglo XI y ha sido renovada y ampliada en varias ocasiones a lo largo de los siglos.</p>

                <p>Visitar la Abadía de Westminster es una experiencia impresionante para los turistas que visitan Londres. Los visitantes pueden disfrutar de una visita guiada para aprender sobre la historia y la arquitectura de la abadía, y también tienen la oportunidad de asistir a servicios religiosos.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9935.01864930257!2d-0.1272993!3d51.4993695!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c4ba43352f%3A0xda8effa2059b537a!2sAbad%C3%ADa%20de%20Westminster!5e0!3m2!1ses-419!2sar!4v1683495114975!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!--El footer sera iguale en toda las paginas-->
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Oasis Travel <span>& Event</span></h3>
    
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="#">Pricing</a>
            
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Oasis Travel & Event © 2023</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Medrano 3201</span> Almagro, CABA</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+5491120202020</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@oasistravel.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>
    <script src="../../destinos.js"></script>
</body>
</html>