<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria | Moscu</title>
    <link rel="stylesheet" href="../../public/destinos.css">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d182710ea.js" crossorigin="anonymous"></script>
</head>
<body>
     <!--El header posee un icono de una flecha para volver atras y la palabra galeria para indicar donde estamos-->
    <header>    
        <a href="../../view/galeria.html"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        <p id="volver">GALERIA</p>
        <p></p>
    </header>
    <main>
        <h1>Moscu</h1>
        <div id="temperatura">
        </div>
        <section>
            <h2>Kremlin</h2>
            <img src="../../public/img/Moscu/Kremlin.jpg" alt="El Kremlin">
            <div class="texto">
                <p>El Kremlin es un complejo fortificado ubicado en el corazón de Moscú, Rusia. Es uno de los lugares más emblemáticos y visitados de Rusia, que alberga importantes edificios gubernamentales, históricos y religiosos.</p>

                <p>El Kremlin ha sido el centro del poder político y religioso de Rusia desde hace más de 500 años, y ha sido el hogar de numerosos líderes, incluidos los zares, los comunistas y los presidentes de la Federación Rusa.</p>

                <p>Dentro del Kremlin se encuentran la Catedral de la Anunciación, la Catedral del Arcángel Miguel y la Catedral de la Asunción, todas ellas joyas de la arquitectura religiosa rusa. También se pueden encontrar varios museos y galerías de arte que contienen obras de arte y artefactos históricos importantes.</p>

                <p>El Kremlin es una visita obligada para cualquier persona que visite Moscú, y ofrece una vista única y fascinante de la historia, la cultura y la política de Rusia.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8981.491795299366!2d37.6174994!3d55.7520233!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2sKremlin%20de%20Mosc%C3%BA!5e0!3m2!1ses-419!2sar!4v1683485593896!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Catedral de San Basilio</h2>
            <img src="../../public/img/Moscu/San Basilio.jpg" alt="Catedral de San Basilio">
            <div class="texto">
                <p>La Catedral de San Basilio, también conocida como la Catedral de la Intercesión de la Santísima Virgen en el Foso, es una de las iglesias más famosas y fotografiadas de Rusia. Situada en la Plaza Roja de Moscú, la catedral fue construida en el siglo XVI por orden de Iván el Terrible.</p>

                <p>La Catedral de San Basilio es conocida por sus torres y cúpulas de colores brillantes, y su arquitectura única, que combina elementos de las iglesias ortodoxas rusas y de la arquitectura islámica. En su interior, se pueden encontrar numerosas capillas y santuarios, así como también valiosas obras de arte y tesoros religiosos.</p>

                <p>La Catedral de San Basilio es una atracción turística imperdible para aquellos que visitan Moscú, y su belleza y riqueza histórica la convierten en una de las iglesias más importantes de Rusia y del mundo.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8981.376764363062!2d37.6230868!3d55.7525229!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5962e69605%3A0xa4cf168ae7cb3ae5!2sCatedral%20de%20San%20Basilio!5e0!3m2!1ses-419!2sar!4v1683485922138!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Teatro Bolshoi</h2>
            <img src="../../public/img/Moscu/Bolshoi.jpg" alt="Teatro Bolshoi">
            <div class="texto">
                <p>El Teatro Bolshoi es uno de los teatros más famosos y prestigiosos de Rusia y del mundo. Ubicado en el centro de Moscú, el teatro fue fundado en 1776 y se ha convertido en un importante símbolo de la cultura rusa.</p>

                <p>El Teatro es famoso por sus producciones de ópera y ballet, que se presentan en su escenario de clase mundial. Además, el teatro cuenta con una impresionante colección de trajes y decorados históricos que se utilizan en sus producciones.</p>

                <p>El Teatro Bolshoi ha acogido a muchos de los artistas más famosos de Rusia y del mundo, y sus producciones son aclamadas por su alta calidad y por el espectacular talento de sus bailarines y cantantes.</p>

                <p>Visitar el Teatro Bolshoi es una experiencia única para cualquier amante de la ópera y el ballet, y es una visita obligada para aquellos que quieren sumergirse en la rica cultura rusa.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8979.624369197832!2d37.6186486!3d55.7601335!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a5b4c576dbf%3A0x93a829189a1d29f2!2sTeatro%20Bolsh%C3%B3i!5e0!3m2!1ses-419!2sar!4v1683486013857!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Torre Ostankino</h2>
            <img src="../../public/img/Moscu/Ostankino.jpg" alt="Torre Ostankino">
            <div class="texto">
                <p>La Torre Ostankino es una torre de telecomunicaciones ubicada en Moscú, Rusia. Con una altura de 540 metros, es una de las torres más altas del mundo y la estructura más alta de Europa. Fue construida en 1967 y desde entonces ha sido un símbolo icónico de Moscú.</p>

                <p>La Torre Ostankino se utiliza para transmitir televisión y radio, así como para comunicaciones de telefonía móvil y satelitales. También cuenta con una plataforma de observación abierta al público, desde la que se puede disfrutar de impresionantes vistas panorámicas de Moscú.</p>

                <p>Visitar la Torre Ostankino es una experiencia única y emocionante, y es una de las principales atracciones turísticas de Moscú. La torre es un ejemplo impresionante de la ingeniería y la tecnología modernas, y es un recordatorio del papel crucial que juegan las comunicaciones en nuestra vida cotidiana.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d8965.907479399535!2d37.6116626!3d55.8196818!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5360d0c5eb911%3A0x6108436441c66f55!2sTorre%20Ostankino!5e0!3m2!1ses-419!2sar!4v1683486268667!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!--El footer sera iguale en toda las paginas-->
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Oasis Travel <span>& Event</span></h3>
    
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="#">Pricing</a>
            
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Oasis Travel & Event © 2023</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Medrano 3201</span> Almagro, CABA</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+5491120202020</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@oasistravel.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>
    <script src="../../destinos.js"></script>
</body>
</html>