<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria | New York</title>
    <link rel="icon" href="../../public/img/panda.png">
    <link rel="stylesheet" href="../../public/css/destinos.css">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d182710ea.js" crossorigin="anonymous"></script>
</head>
<body>
     <!--El header posee un icono de una flecha para volver atras y la palabra galeria para indicar donde estamos-->
    <header>    
        <a href="../../view/galeria.html"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        <p id="volver">GALERIA</p>
        <p></p>
    </header>
    <main>
        <h1>New York</h1>
        <div id="temperatura">
        </div>
        <section>
            <h2>Central Park</h2>
            <img src="../../public/img/New York/Central Park.jpeg" alt="Central Park">
            <div class="texto">
                <p>Central Park es un oasis verde en medio de la ciudad de Nueva York, Estados Unidos. Con más de 843 acres, es uno de los parques urbanos más grandes del mundo y es considerado como un tesoro cultural e histórico de la ciudad.</p>

                <p>El parque cuenta con numerosas atracciones, como lagos, puentes, fuentes, jardines y campos de deportes, así como también lugares emblemáticos como el Central Park Zoo y el Conservatorio de Música de Central Park.</p>

                <p>Además, el parque es un lugar popular para actividades al aire libre, como correr, andar en bicicleta, patinar sobre ruedas y hacer picnics. También cuenta con una gran variedad de eventos y actividades culturales y artísticas durante todo el año.</p>

                <p>En resumen, Central Park es una joya verde en medio de la ciudad de Nueva York, y es un lugar de encuentro para turistas y locales por igual. Con su belleza natural, historia y cultura, es un destino turístico imprescindible para cualquier visita a la Gran Manzana.</p>
             </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12084.26553746132!2d-73.9655834!3d40.7825547!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2589a018531e3%3A0xb9df1f7387a94119!2sCentral%20Park!5e0!3m2!1ses-419!2sar!4v1683484714565!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Estatua de la Libertad</h2>
            <img src="../../public/img/New York/Libertad.jpg" alt="Estatua de la Libertad">
            <div class="texto">
                <p>La Estatua de la Libertad es uno de los monumentos más emblemáticos de Estados Unidos y es reconocida en todo el mundo como un símbolo de la libertad y la democracia. Situada en la isla de la Libertad, en la desembocadura del río Hudson en Nueva York, la estatua fue un regalo del gobierno francés en 1886 para celebrar el centenario de la Declaración de Independencia de los Estados Unidos.</p>

                <p>La estatua es una impresionante obra de arte, diseñada por el escultor francés Frédéric Auguste Bartholdi y construida con hierro y cobre. Con su antorcha elevada, la estatua mide más de 46 metros de alto y representa la libertad y la iluminación.</p>

                <p>Los visitantes pueden tomar un ferry para visitar la Estatua de la Libertad y explorar la isla, así como también disfrutar de vistas impresionantes de Manhattan y el puerto de Nueva York desde la cima de la estatua.</p>

                <p>En resumen, la Estatua de la Libertad es uno de los monumentos más icónicos del mundo y un símbolo de la libertad y la democracia. Es una visita imprescindible para cualquier turista que visite Nueva York.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12101.225545940446!2d-74.0445004!3d40.6892494!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25090129c363d%3A0x40c6a5770d25022b!2sEstatua%20de%20la%20Libertad!5e0!3m2!1ses-419!2sar!4v1683484845154!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Empire State</h2>
            <img src="../../public/img/New York/Empire State.jpg" alt="Empire State">
            <div class="texto">
                <p>El Empire State Building es uno de los edificios más emblemáticos de la ciudad de Nueva York, Estados Unidos. Con una altura de 381 metros, fue el edificio más alto del mundo durante más de 40 años después de su inauguración en 1931.</p>

                <p>El Empire State Building cuenta con 102 pisos y su diseño Art Deco lo convierte en una obra maestra arquitectónica. Además, ofrece vistas impresionantes de la ciudad de Nueva York desde su mirador en el piso 86.</p>

                <p>El edificio también es famoso por su iluminación, ya que se ilumina con diferentes colores para conmemorar eventos especiales y días festivos.</p>

                <p>El Empire State Building es un icono de la ciudad de Nueva York y una visita imprescindible para cualquier turista que visite la Gran Manzana. Es un lugar que combina la historia, la arquitectura y la vista panorámica para brindar una experiencia única e inolvidable a los visitantes.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12090.470159428245!2d-73.9856644!3d40.7484405!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259a9b3117469%3A0xd134e199a405a163!2sEmpire%20State%20Building!5e0!3m2!1ses-419!2sar!4v1683485051286!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Puente de Brooklyn</h2>
            <img src="../../public/img/New York/Brooklyn.jpg" alt="Puente de Brooklyn">
            <div class="texto">
                <p>El Puente de Brooklyn es uno de los monumentos más emblemáticos de la ciudad de Nueva York, Estados Unidos. Con más de 1.800 metros de largo, el puente se extiende sobre el East River, conectando los barrios de Manhattan y Brooklyn.</p>

                <p>Diseñado por el ingeniero John Augustus Roebling y construido en 1883, el Puente de Brooklyn es un ejemplo de ingeniería y arquitectura impresionantes. Su estructura de acero y sus torres de piedra lo convierten en una obra maestra de la ingeniería.</p>

                <p>El puente es una atracción popular para caminar, correr o andar en bicicleta, y ofrece vistas impresionantes del horizonte de la ciudad de Nueva York y del puerto.</p>

                <p>En resumen, el Puente de Brooklyn es un ícono de la ciudad de Nueva York y uno de los puentes más famosos del mundo. Es una visita imprescindible para cualquier turista que visite la Gran Manzana, y ofrece una experiencia única e inolvidable de la ciudad y su historia.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12098.167636954853!2d-73.9968643!3d40.7060855!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c25a2343ce7b2b%3A0x2526ddba7abd465c!2sPuente%20de%20Brooklyn!5e0!3m2!1ses-419!2sar!4v1683485179053!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!--El footer sera iguale en toda las paginas-->
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Oasis Travel <span>& Event</span></h3>
    
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="#">Pricing</a>
            
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Oasis Travel & Event © 2023</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Medrano 3201</span> Almagro, CABA</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+5491120202020</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@oasistravel.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>
    <script src="../../destinos.js"></script>
</body>
</html>