<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria | Paris</title>
    <link rel="stylesheet" href="../../public/destinos/destinos.css">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d182710ea.js" crossorigin="anonymous"></script>
</head>
<body>
     <!--El header posee un icono de una flecha para volver atras y la palabra galeria para indicar donde estamos-->
    <header>    
        <a href="../../view/galeria.html"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        <p id="volver">GALERIA</p>
        <p></p>
    </header>
    <main>
        <h1>PARIS</h1>
        <section>
            <h2>Torre Eifel</h2>
            <img src="../../public/img/paris/Torre Eifel.jpg" alt="Torre Eifel">
            <div class="texto">
                <p>La Torre Eiffel es uno de los monumentos más icónicos y visitados en el mundo, ubicado en París, Francia. Construida en 1889 por el ingeniero Gustave Eiffel como parte de la Exposición Universal, la torre es un impresionante ejemplo de la arquitectura y la ingeniería de la época.</p>

                <p>Con una altura de 324 metros, la Torre Eiffel ofrece vistas espectaculares de París desde sus tres plataformas de observación. Los visitantes pueden subir a la torre en ascensores o por las escaleras, y una vez en la cima pueden disfrutar de vistas panorámicas de la ciudad.</p>

                <p>Además de ser una atracción turística popular, la Torre Eiffel ha sido utilizada en muchas películas y programas de televisión, convirtiéndose en un símbolo de la cultura francesa y la ciudad de París en todo el mundo.</p>

                <p>En resumen, la Torre Eiffel es una maravilla arquitectónica que ofrece impresionantes vistas de París y es una visita obligada para cualquier turista que visite la ciudad.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6243.39632019457!2d2.291832433039099!3d48.857737625622406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e2964e34e2d%3A0x8ddca9ee380ef7e0!2sTorre%20Eiffel!5e0!3m2!1ses!2sar!4v1683311904151!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Notre Dame</h2>
            <img src="../../public/img/paris/Notre Dame.jpg" alt="La catedral de Notre Dame">
            <div class="texto">
                <p>La Catedral de Notre Dame es uno de los monumentos más emblemáticos de París, Francia. Construida en estilo gótico en el siglo XII, la catedral es famosa por su arquitectura impresionante y su historia rica y fascinante.</p>

                <p>La catedral es conocida por su icónica fachada, que presenta numerosas esculturas y vidrieras que representan escenas bíblicas y figuras históricas. Además, su interior es impresionante, con bóvedas altas, vitrales de colores brillantes y una gran variedad de artefactos religiosos.</p>

                <p>Lamentablemente, en 2019, un incendio devastador afectó a la catedral, destruyendo gran parte de su techo y aguja. Desde entonces, se han llevado a cabo esfuerzos masivos de restauración y reconstrucción, con la esperanza de devolver la catedral a su antigua gloria.</p>

                <p>En resumen, la Catedral de Notre Dame es un tesoro arquitectónico y cultural en el corazón de París, y su historia y belleza siguen siendo una fuente de fascinación para visitantes de todo el mundo.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5250.613825207475!2d2.3475100490712086!3d48.852357635325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671e19ff53a01%3A0x36401da7abfa068d!2sCatedral%20de%20Notre%20Dame!5e0!3m2!1ses!2sar!4v1683312013238!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Louvre</h2>
            <img src="../../public/img/paris/Louvre.jpg" alt="El museo Louvre">
            <div class="texto">
                <p>El Louvre es uno de los museos más grandes e importantes del mundo, situado en el corazón de París, Francia. Con más de 35,000 obras de arte en exhibición, desde la antigüedad hasta el siglo XIX, el museo es un verdadero tesoro cultural.</p>

                <p>El edificio del Louvre, que en su origen fue una fortaleza medieval, es impresionante por sí mismo, con su icónica Pirámide de cristal diseñada por el arquitecto I.M. Pei en la entrada principal. Entre las obras más famosas que se pueden encontrar en el museo están la Mona Lisa de Leonardo da Vinci, la Venus de Milo y la Victoria alada de Samotracia.</p>

                <p>Además de las impresionantes colecciones permanentes, el Louvre también presenta exposiciones temporales de arte de todo el mundo. Los visitantes pueden pasar horas explorando las galerías y salas del museo, descubriendo tesoros artísticos y culturales en cada esquina.</p>

                <p>En resumen, el Louvre es una visita imprescindible para cualquier amante del arte y la cultura, y su colección y arquitectura lo hacen un destino turístico fascinante y memorable.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10499.204137567298!2d2.3256444789286466!3d48.862004341319846!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e671d877937b0f%3A0xb975fcfa192f84d4!2sMuseo%20del%20Louvre!5e0!3m2!1ses!2sar!4v1683312089100!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Arco del Triunfo</h2>
            <img src="../../public/img/paris/arco del triunfo.jpg" alt="El arco del Triunfo">
            <div class="texto">
                <p>El Arco del Triunfo es uno de los monumentos más famosos y emblemáticos de París, Francia. Situado en el extremo oeste de los Campos Elíseos, el arco es un símbolo de la historia y la cultura francesa.</p>

                <p>Construido en 1806 por orden de Napoleón Bonaparte, el arco celebra las victorias militares francesas y honra a los soldados caídos en la guerra. Su diseño es impresionante, con relieves y esculturas que representan escenas históricas y militares.</p>

                <p>Los visitantes pueden subir a la cima del Arco del Triunfo para disfrutar de impresionantes vistas panorámicas de París. Además, el arco es un lugar popular para desfiles militares y ceremonias importantes.</p>

                <p>En resumen, el Arco del Triunfo es un monumento icónico que celebra la historia y la cultura francesa, y ofrece impresionantes vistas de París desde su cima. Es una visita obligada para cualquier turista que visite la ciudad de la luz.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.1827997549926!2d2.2924525769410784!3d48.873791671334345!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66fec70fb1d8f%3A0xd9b5676e112e643d!2sArco%20de%20Triunfo%20de%20Par%C3%ADs!5e0!3m2!1ses!2sar!4v1683312109955!5m2!1ses!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!--El footer sera iguale en toda las paginas-->
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Oasis Travel <span>& Event</span></h3>
    
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="#">Pricing</a>
            
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Oasis Travel & Event © 2023</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Medrano 3201</span> Almagro, CABA</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+5491120202020</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@oasistravel.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>

</body>
</html>