<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria | Tokio</title>
    <link rel="stylesheet" href="../../public/destinos.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Piedra&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5d182710ea.js" crossorigin="anonymous"></script>
</head>
<body>
     <!--El header posee un icono de una flecha para volver atras y la palabra galeria para indicar donde estamos-->
    <header>    
        <a href="../../view/galeria.html"><i class="fa-solid fa-arrow-left fa-2xl"></i></a>
        <p id="volver">GALERIA</p>
        <p></p>
    </header>
    <main>
        <h1 id="lugar">Tokio</h1>
        <div id="temperatura">
        </div>
        <section>
            <h2>Tokio Tower</h2>
            <img src="../../public/img/Tokio/Tower.jpg" alt="Torre de Tokio">
            <div class="texto">
                <p>La Torre de Tokio es una icónica estructura de acero situada en el barrio de Minato en Tokio. Con una altura de 333 metros, la torre es una de las estructuras más altas del mundo y es un importante símbolo de la ciudad.</p>

                <p>Además de ser una atracción turística popular, la Torre de Tokio cuenta con numerosas instalaciones, como tiendas, restaurantes y observatorios que ofrecen vistas impresionantes de la ciudad. Los visitantes pueden disfrutar de las vistas panorámicas desde la plataforma de observación a 150 metros de altura, o desde la plataforma principal a 250 metros de altura, que cuenta con suelo de vidrio para una experiencia aún más impresionante.</p>

                <p>La torre también es un lugar popular para eventos y celebraciones especiales, como bodas y propuestas de matrimonio. Durante la temporada de Navidad, la torre se ilumina con luces espectaculares, convirtiéndose en un destino popular para los visitantes.</p>

                <p>En resumen, la Torre de Tokio es una atracción turística emblemática que ofrece impresionantes vistas de la ciudad y una experiencia única en Tokio.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12958.627135224153!2d139.8107004!3d35.7100627!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ed0d12f9adf%3A0x7d1d4fb31f43f72a!2sTokyo%20Skytree!5e0!3m2!1ses-419!2sar!4v1683483977188!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Akihabara</h2>
            <img src="../../public/img/Tokio/akiba.jpg" alt="Calles de Akihabara">
            <div class="texto">
                <p>Akihabara es un vibrante barrio de Tokio, famoso por su cultura otaku y electrónica. Conocido como "Akiba" por los lugareños, el barrio es un paraíso para los fanáticos del anime, manga, videojuegos y la tecnología. Las tiendas y centros comerciales de Akihabara están llenos de productos electrónicos, desde pequeños dispositivos hasta grandes televisores de pantalla plana, y los aficionados pueden encontrar todo tipo de accesorios y gadgets para sus computadoras, teléfonos y otros dispositivos.</p>

                <p>Pero Akihabara no es solo para los entusiastas de la tecnología, también tiene una gran cantidad de tiendas de cómics y anime, cafeterías temáticas, maid cafés y salones de videojuegos, todos con una fuerte presencia de la cultura pop japonesa. Además, Akihabara es el hogar del famoso cruce peatonal de Shibuya, que se ilumina en la noche con neones y carteles publicitarios.</p>

                <p>Akihabara es un lugar emocionante y único que es imprescindible para cualquier viajero que visite Tokio.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3239.977454164292!2d139.77197707637603!3d35.70217242258056!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ea73ea6f4ff%3A0x5eb9f1e50fe061e3!2sAkihabara%2C%20Tait%C5%8D%2C%20Tokio%20110-0006%2C%20Jap%C3%B3n!5e0!3m2!1ses-419!2sar!4v1683484062976!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Shibuya</h2>
            <img src="../../public/img/Tokio/shibuya.jpg" alt="El cruce de Shibuya">
            <div class="texto">
                <p>Shibuya es uno de los barrios más populares y animados de Tokio, conocido por ser un importante centro de compras, entretenimiento y moda. El barrio es famoso por su icónico cruce peatonal, que se encuentra en la intersección de varias calles principales y es uno de los lugares más concurridos de la ciudad.</p>

                <p>Además de sus tiendas y centros comerciales, Shibuya es también un centro de la moda, con algunas de las tiendas más exclusivas de la ciudad y numerosas boutiques de moda independientes. Los amantes de la música pueden encontrar tiendas de discos y una variedad de lugares de música en vivo, mientras que los aficionados a la comida pueden disfrutar de una amplia selección de restaurantes, bares y cafeterías.</p>

                <p>Shibuya también es conocido por ser un lugar popular para los jóvenes y la vida nocturna, con muchos bares, clubes y discotecas que atraen a multitudes de fiesteros todas las noches.</p>

                <p>En resumen, Shibuya es un barrio emocionante y diverso que ofrece algo para todos los gustos, y es un lugar imprescindible para visitar en Tokio.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25931.294644399153!2d139.67201644462926!3d35.666860245853286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188cb2eb3108d1%3A0xf11cd9b2395b6677!2sShibuya%2C%20Tokio%2C%20Jap%C3%B3n!5e0!3m2!1ses-419!2sar!4v1683484036185!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
        <section>
            <h2>Senso-Ji</h2>
            <img src="../../public/img/Tokio/sinzo.jpg" alt="Templo Sensoji">
            <div class="texto">
                <p>El templo Senso-ji es uno de los templos budistas más antiguos y venerados de Tokio. Situado en el barrio de Asakusa, este templo es una de las atracciones turísticas más populares de la ciudad.</p>

                <p>Construido en el siglo VII, el Senso-ji cuenta con una impresionante puerta de entrada conocida como "Kaminarimon", la cual se destaca por su gran farol rojo y una enorme figura de un dios guardián. A medida que los visitantes avanzan por el camino hacia el templo, encuentran numerosas tiendas de souvenirs y comida tradicional.</p>

                <p>El templo en sí es impresionante, con una arquitectura impresionante y un ambiente espiritual. Los visitantes pueden recorrer los jardines del templo y explorar los santuarios interiores. Además, el templo es un lugar popular para festivales y eventos, incluyendo el "Sanja Matsuri", uno de los festivales más grandes de Tokio.</p>

                <p>En resumen, el templo Senso-ji es un lugar fascinante e impresionante que ofrece una mirada a la rica historia y cultura de Japón, y es un destino turístico imprescindible para cualquier persona que visite Tokio.</p>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12957.862573594963!2d139.7966553!3d35.7147651!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188ec1a4463df1%3A0x6c0d289a8292810d!2zU2Vuc8WNLWpp!5e0!3m2!1ses-419!2sar!4v1683484001594!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </section>
    </main>

    <!--El footer sera iguale en toda las paginas-->
    <footer class="footer-distributed">

        <div class="footer-left">
    
            <h3>Oasis Travel <span>& Event</span></h3>
    
            <p class="footer-links">
                <a href="#" class="link-1">Home</a>
                
                <a href="#">Blog</a>
            
                <a href="#">Pricing</a>
            
                <a href="#">About</a>
                
                <a href="#">Faq</a>
                
                <a href="#">Contact</a>
            </p>
    
            <p class="footer-company-name">Oasis Travel & Event © 2023</p>
        </div>
    
        <div class="footer-center">
    
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Medrano 3201</span> Almagro, CABA</p>
            </div>
    
            <div>
                <i class="fa fa-phone"></i>
                <p>+5491120202020</p>
            </div>
    
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:support@company.com">support@oasistravel.com</a></p>
            </div>
    
        </div>
    
        <div class="footer-right">
    
            <p class="footer-company-about">
                <span>About the company</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>
    
            <div class="footer-icons">
    
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>
    
            </div>
    
        </div>
    
    </footer>
    <script src="../../destinos.js"></script>
</body>
</html>